<aside class="sidebar">
    <h2>Admin Dashboard</h2>
    <a href="/admin/dashboard">Dashboard</a>
    <a href="/admin/users-list">User Management</a>
    <a href="/admin/category">Category Management</a>
    <a href="/admin/products">Product Management</a>
    <a href="/admin/reports">Reports</a>
    <a href="/admin/settings">Settings</a>
    <a href="/admin/profile">Profile</a>
</aside>
